* {
    --edge-correct-color: rgba(84, 255, 54, 0.822);
    --edge-wrong-color: rgba(255, 92, 92, 0.822);
    --background-color: rgb(94, 28, 28);
    --lighter-background-color: rgb(255, 228, 76);
    --tile-color: rgb(255, 170, 101);
}

html, body {
    margin: 0px;
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    color: var(--tile-color)
}

.wrapper{
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size : 14vw;
    overflow:hidden;
    user-select: none;
    animation: appear 1s both;
    transition: 1s;
}

.menu-item{
    font-size: 6vw;
    overflow:hidden;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.8s;
}

@keyframes appear{
    from{opacity: 0;}
    to{opacity:1;}
}