* {
    --edge-correct-color: rgba(84, 255, 54, 0.822);
    --edge-wrong-color: rgba(255, 92, 92, 0.822);
    --background-color: rgb(94, 28, 28);
    --lighter-background-color: rgb(255, 228, 76);
    --tile-color-focus: rgb(44, 255, 192);
    --tile-color-out-focus: rgb(194, 146, 107);
    --tile-color: rgb(255, 170, 101);
    --edge-color: rgb(255, 143, 52);
}

html, body {
    margin: 0px;
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 0px;
    font-size: 0px;
    transition: 0.3s;
}

.shrink-text{
    animation: shrink 0.3s both;
}

@keyframes shrink{
    from{font-size: 100%;}
    to{font-size: 0px;}
}

.grow-text{
    animation: grow 0.3s both;
}

.title{
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--tile-color);
    user-select: none;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
}


@keyframes grow{
    from{font-size: 0px;}
    to{font-size: 100%;}
}

.navbar {
    height: 10vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}

.play-button{
    aspect-ratio: 1/ 1;
    background-color: blue;
    border-radius: 0px 0px 20% 20%;
}

.question{
    background-color: var(--tile-color);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    user-select: none;
    object-fit: fill;
    border-radius: 10%;
    height: min(8vh, 10vw);
    cursor: pointer;
    font-size: min(8vh, 10vw);
    overflow:hidden;
}

.question:hover{
    transform: scale(1.1);
}

.wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    margin-left: 2%;
}

.level-button{
    height:min(8vh, 10vw);
    background-color: var(--background-color);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    transition: 0.3s;
    border-radius: 10%;
    overflow: hidden;
    cursor: pointer;
    gap: 5px;
}

.cube{
    background-color: var(--tile-color);
    transition: 0.3s;
}

.level-button:hover{
    gap: 5px;
    transform: scale(1.1);
}

.level-button:hover .cube{
    border-radius: 20%;

}

.grid {
    display: grid;
    background-color: transparent;
    min-width: 0;
    min-height: 0;
    transition: 0.3s;
}

.height {
    height: 100%;
}

.width {
    width: 100%;
}

.tile {
    transform: scale(0);
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
    transition: transform 0.5s, border-radius 0.5s, background-color 0.5s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    user-select: none;
    min-width: 0;
    min-height: 0;
    overflow:hidden;
}

.game-tile {
    background-color: var(--tile-color);
    cursor: pointer;
}

.edge-tile {
    background-color: var(--edge-color);
    cursor:pointer;
}

.corner-tile {
    background-color: var(--edge-color);
}

.text-field {
    font-size: 0px;
    text-align: center;
    margin-bottom: 1%;
    transition: 0.5s;
    color: var(--tile-color);
    opacity: 0;

}

.subscript {
    position: absolute;
    font-size: 40%;
    top: -3px;
    right: 2px;
}