* {
    --edge-correct-color: rgba(84, 255, 54, 0.822);
    --edge-wrong-color: rgba(255, 92, 92, 0.822);
    --background-color: rgb(94, 28, 28);
    --lighter-background-color: rgb(255, 228, 76);
    --tile-color: rgb(255, 170, 101);
}

html, body {
    margin: 0px;
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    color: var(--tile-color)
}

.wrapper{
    height:100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size : min(16vw, 16vh);
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}

.level-tile{
    aspect-ratio: 1 / 1;
    background-color: var(--tile-color);
    height:min(16vw, 16vh);
    border-radius: 20%;
    margin: 2vw;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(10vw, 10vh);
    transform: scale(0);
    transition: 0.5s;
    user-select: none;
    cursor: pointer;
}

.level-tile:hover {
    transform: scale(1.1) !important;
    transition: 0.3s;
}

.levels{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-field {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 1%;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
    user-select: none;
}